<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.stu.manage.demo.mapper.StudentMapper">

<!--    <select id="getAllStudents" resultType="com.stu.manage.demo.entity.Student">-->
<!--        select * from student where is_valid=1-->
<!--    </select>-->
<!--    <select id="getStudentByName" parameterType="String" resultType="com.stu.manage.demo.entity.Student">-->
<!--        select * from student-->
<!--        where student_name=#{studentName} and is_valid=1-->
<!--    </select>-->
<!--    <select id="getStudentByClass" parameterType="String" resultType="com.stu.manage.demo.entity.Student">-->
<!--        select * from student-->
<!--        where class_id=#{classId} and is_valid=1-->
<!--    </select>-->
<!--    <select id="getStudentById" parameterType="Integer" resultType="com.stu.manage.demo.entity.Student">-->
<!--        select * from student-->
<!--        where student_id=#{studentId} and is_valid=1-->
<!--    </select>-->
<!--    <select id="getStudentByGradeClass" parameterType="com.stu.manage.demo.entity.GradeClass" resultType="com.stu.manage.demo.entity.Student">-->
<!--        select * from student-->
<!--        where class_id=#{classId} and grade_id=#{gradeId} and is_valid=1-->
<!--    </select>-->
<!--    <select id="getStudentByIdCard" parameterType="String" resultType="com.stu.manage.demo.entity.Student">-->
<!--        select * from student-->
<!--        where id_card=#{idCard} and is_valid=1-->
<!--    </select>-->
<!--    <update id="updateStudent"  parameterType="com.stu.manage.demo.entity.Student">-->
<!--        update student set-->
<!--        id_card=#{idCard},-->
<!--        grade_id=#{gradeId}-->
<!--        class_id=#{classId},-->
<!--        student_name=#{studentName},-->
<!--        sex=#{sex}-->
<!--        where student_id=#{studentId} and is_valid=1-->
<!--    </update>-->


    <update id="deleteStudentById" parameterType="Integer" >
        update student set
        is_valid = '0'
        where student_id=#{studentId} and is_valid=1
    </update>

</mapper>